* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body,
html {
  font-family: Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  margin: auto;
}

.main-container {
  width: 100%;
  height: 100%;
  color: #fff;
  padding: 12px 24px;
  background-color: #000;
}

/* 2 */

.header-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  font-size: 12px;
  /* font-family: Montserrat, sans-serif; */
}

.header-navbar ul {
  display: flex;
  list-style: none;
  padding: 0px;
  margin: 0px;
  background-color: #000;
}

.header-navbar li {
  flex: 1;
  text-align: center;
  padding: 8px 0px;
}

.header-navbar li a {
  flex: 1;
  text-transform: uppercase;
  color: #757575;
  text-decoration: none;
}

.header-navbar li:hover {
  color: #000;
  background-color: #fff;
  cursor: pointer;
}

.ry-jumbo {
  font-size: 64px;
  text-align: center;
  font-weight: 400;
  /* font-family: Montserrat, sans-serif; */
}

.ry-designation {
  text-align: center;
}

.ry-image {
  height: 50%;
  width: 100%;
  padding: 38px;
}

.hide-when-mobile-view {
  display: none;
}

.ry-name-for-tablet {
  display: none;
}

/* 3 */
#About {
  padding: 64px 0px;
}

.ry-about-title {
  font-weight: 400;
  color: lightgray;
  /* font-family: Montserrat, sans-serif; */
  font-size: 24px;
}

.ry-horizontal-row {
  width: 200px;
  opacity: 0.5;
  margin: 0;
}

.ry-about-para {
  color: #757575;
}

.ry-about-skills {
  font-weight: 400;
  color: lightgray;
  /* font-family: Montserrat, sans-serif; */
  font-size: 24px;
}

.ry-skills {
  letter-spacing: 6px;
  color: #757575;
}

.ry-white {
  background-color: #fff;
}

.ry-grey {
  background-color: #757575;
}

.ry-work-done {
  display: flex;
  font-family: Montserrat sans-serif;
  flex-direction: column;
  background-color: lightgray;
  text-align: center;
  color: #000;
  padding: 16px 0px 16px 0px;
}

.ry-row {
  flex: 1;
  padding-bottom: 18px;
}

.ry-x-large {
  font-size: 20px;
}

.ry-resume-button {
  display: flex;
  background-color: lightgray;
  padding: 12px 24px;
  margin: 16px 0px;
  font-size: 15px;
  /* font-family: Montserrat, sans-serif; */
  padding: 12px 24px;
  margin: 16px 0px;
}

.ry-about-my-price {
  font-weight: 400;
  color: lightgray;
  /* font-family: Montserrat, sans-serif; */
  font-size: 24px;
}

.ry-about-grid {
  text-align: center;
  width: 100%;
}

.ry-about-grid-half {
  display: table;
  margin: 32px 0px 32px 0px;
  clear: both;
  width: 100%;
  background-color: lightgray;
}

.ry-about-grid-ul {
  display: list-item;
  list-style: none;
  padding: 0;
  margin: 0;
}
.custom-heading {
  font-weight: normal;
}

.ry-about-grid-half li {
  display: list-item;
  list-style: none;
  padding: 16px;
}

.ry-about-grid-ul li {
  padding: 8px 16px;
  border-bottom: 1px solid #ddd;
  padding: 16px;
}

.ry-about-grid-title {
  background-color: #616161;
  color: lightgray;
  /* font-family: Montserrat, sans-serif; */
  text-align: center;
  font-size: 24px;
  width: 100%;
  padding: 32px 16px;
}

.ry-about-grid-half:hover {
  background-color: white;
}

.ry-about-grid-elements {
  color: #000;
  font-size: 15px;
}

.sign-up-button {
  padding: 12px 24px;
  border-style: none;
}

.ry-about-reputation {
  font-weight: 400;
  color: lightgray;
  font-size: 24px;
}

.image-reputation {
  height: 15%;
  width: 18%;
  border-radius: 50%;
  margin-bottom: 24px;
}

.para-reputation {
  font-size: 15px;
  color: #757575;
  margin: 15px 0px 15px 0px;
  line-height: 1.5;
}

.ry-reputation-half {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ry-reputation-para {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 40px;
}
/* 4 */
#Photos {
  padding: 32px 0px;
}

.ry-my-photos-section {
  display: flex;
  flex-direction: column;
}

.ry-my-photos-title {
  font-weight: 400;
  color: lightgray;
  /* font-family: Montserrat, sans-serif; */
  font-size: 24px;
}

.my-photos-collection {
  height: 50%;
  width: 100%;
}

/* 5 */

#Contact {
  padding: 64px 0px;
}

.ry-contact-me {
  font-weight: 400;
  color: #f1f1f1;
  font-size: 30px;
}

.contact-info {
  color: #757575;
  font-size: 15px;
  margin: 15px 0px;
}

.contact-icons-para i {
  font-size: 30px;
  color: #fff;
  margin-right: 24px;
}

.ry-last {
  font-size: 15px;
  color: #757575;
  margin: 15px 0px 15px 0px;
}

form {
  display: block;
}

.form-styling {
  padding: 16px 8px;
  background-color: #fff;
  width: 100%;
}

.ry-footer {
  display: none;
}

/* Tablet media query */

@media only screen and (min-width: 600px) {
  /* 1 */

  body {
    margin: 0;
  }

  .header-navbar {
    display: none;
  }

  .hide-when-mobile-view {
    position: fixed;
    left: 0;
    top: 0;
    display: block;
    font-size: 12px;
    margin: 0px;
    width: 120px;
    height: 100%;
    color: #fff;
    background-color: #000;
    border: 5px solid darkorchid;
  }

  .ry-header-tablet {
    padding: 0;
    margin-left: 120px;
    color: #fff;
    background-color: #000;
    border: 5px solid darkblue;
    text-align: center;
  }
  .ry-about-grid {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 12px;
  }
  .ry-image-tablet {
    max-width: 100%;
    height: auto;
    opacity: 0.6;
  }

  .ry-navbar-tablet {
    display: flex;
    flex: 1;
    position: fixed;
    left: 0;
    top: 0;
    display: block;
    font-size: 12px;
    margin: 0px;
    color: #fff;
    width: 120px;
    height: 100%;
    background-color: #222;
  }

  .ry-navbar-tablet i {
    font-size: 42px;
    color: #fff;
    padding: 12px 24px;
  }

  .ry-navbar-tablet p {
    font-size: 15px;
    color: #fff;
    padding: 12px 24px;
  }

  .individual-icon-tablet {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
  }

  .individual-icon-tablet:hover {
    background-color: #000;
  }

  .main-container {
    width: 85%;
    height: 100%;
    color: #fff;
    padding: 12px 24px;
    background-color: #000;
    margin-left: 120px;
  }

  .ry-name-for-tablet {
    display: inline;
    font-size: 44px;
    margin-right: 16px;
  }

  .ry-jumbo-tablet {
    font-size: 44px;
    margin: 10px 0px;
  }

  .ry-photos-for-tablet {
    display: grid;
    grid-template-columns: 2fr 2fr;
    column-gap: 12px;
  }

  .ry-photos-for-tablet-half-1 {
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    row-gap: 12px;
  }
  .my-photos-collection {
    width: 100%;
    height: 100%;
  }

  .ry-photos-for-tablet-2 {
    display: grid;
    grid-template-rows: 2fr auto auto auto;
    row-gap: 12px;
  }

  .ry-footer {
    display: block;
    color: #757575;
    font-size: 24px;
  }

  .ry-footer i:hover {
    cursor: pointer;
    color: #222;
  }

  #About {
    padding: 64px 0px;
  }

  #Photos {
    padding: 64px 0px;
  }

  #Contact {
    padding: 64px 0px;
  }

  .ry-work-done {
    display: flex;
    font-family: Montserrat sans-serif;
    flex-direction: row;
    background-color: lightgray;
    text-align: center;
    color: #000;
    padding: 16px 0px 16px 0px;
  }
}

/* Website media query */

@media only screen and (min-width: 768px) {
  * {
    box-sizing: border-box;
  }

  .ry-website-layout {
    display: flex;
    background-color: black;
  }

  .main-container {
    flex: 2;
    width: 100%;
    height: 100%;
    color: #fff;
    padding: 64px 150px;
    background-color: #000;
  }

  .ry-about-grid {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 12px;
  }
  .ry-image-tablet {
    max-width: 100%;
    height: auto;
    opacity: 0.6;
  }

  .ry-navbar-tablet {
    display: flex;
    flex: 1;
    position: fixed;
    left: 0;
    top: 0;
    display: block;
    font-size: 12px;
    margin: 0px;
    color: #fff;
    width: 120px;
    height: 100%;
    background-color: #222;
  }

  .ry-navbar-tablet i {
    font-size: 42px;
    color: #fff;
    padding: 12px 24px;
  }

  .ry-navbar-tablet p {
    font-size: 15px;
    color: #fff;
    padding: 12px 24px;
  }

  .individual-icon-tablet {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
  }

  .individual-icon-tablet:hover {
    background-color: #000;
  }

  .ry-name-for-tablet {
    display: inline;
    font-size: 44px;
    margin-right: 16px;
  }

  .ry-jumbo-tablet {
    font-size: 44px;
    margin: 10px 0px;
  }

  .ry-photos-for-tablet {
    display: grid;
    grid-template-columns: 2fr 2fr;
    column-gap: 12px;
  }

  .ry-photos-for-tablet-half-1 {
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    row-gap: 12px;
  }
  .my-photos-collection {
    width: 100%;
    height: 100%;
  }

  .ry-photos-for-tablet-2 {
    display: grid;
    grid-template-rows: 2fr auto auto auto;
    row-gap: 12px;
  }

  .ry-footer {
    display: block;
    color: #757575;
    font-size: 24px;
  }

  .ry-footer i:hover {
    cursor: pointer;
    color: #222;
  }

  #About {
    padding: 64px 0px;
  }

  #Photos {
    padding: 64px 0px;
  }

  #Contact {
    padding: 64px 0px;
  }

  .ry-work-done {
    display: flex;
    font-family: Montserrat sans-serif;
    flex-direction: row;
    background-color: lightgray;
    text-align: center;
    color: #000;
    padding: 16px 0px 16px 0px;
  }
  .individual-icon-tablet {
    border-style: none;
  }
  .individual-icon-tablet p {
    padding: 0px;
    margin: 0px;
    border-style: none;
  }
}
